[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
wheel = "*"
setuptools = "*"
twine = "*"
coveralls = "*"

[packages]
"boto3" = "*"
"configparser" = "*"

[requires]
python_version = "3.6"
